@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700;800&family=Merriweather:wght@400;700;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Merriweather', serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #d21d25;
  transition: .5s all;
}

a:hover{
  color: #004071;
  transition: .5s all;
}

* {
  box-sizing: border-box;
}

.logo {
  padding: 5px 15px;
}

.logo img {
  max-width: 54px;
  margin-right: 5px;
}

.logo span {
  color: #d21d25;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
  position: relative;
  top: 2px;
}

header.topnav {
  display: flex;
  position: relative;
  z-index: 9999;
}

.mynavbar {
  max-width: 100%;
  margin: 0 auto;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}

.mynavbar .menu {
  display: flex;
}

.mynavbar .menu li {
  display: flex;
  transition: background-color 0.5s ease;
  text-align: center;
  flex: 1;
  padding: 1px 3px 0px 5px;
}

.mynavbar .menu li i {
  margin: 3px;
}

.mynavbar .menu a {
  position: relative;
  display: inline-flex;
  padding: 20px;
  text-decoration: none;
  color: #004071;
  flex: 1;
  justify-content: center;
}

.mynavbar .menu a > .fa {
  font-weight: bold;
  margin-left: 8px;
}

.mynavbar .menu li:hover a {
  color: #d21d25;
}

.mynavbar .menu li:hover .mycontainer {
  display: flex;
}

/* End Navigation Bar */

/* Start Single Section Menu */
#search-input {
  position: relative;
  border-radius: 35px;
  z-index: 2;
  margin: 0;
  background: #f1f3f4;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  min-height: auto;
  outline: none;
  font-size: 1rem;
}

.mycontainer {
  position: absolute;
  z-index: 1;
  top: 63px;
  right: 0;
  left: 0;
  padding: 0;
  display: none;
  margin: 3px 0;
  margin-bottom: 30px;
  text-align: left;
  -webkit-backdrop-filter: saturate(63%) blur(9px);
  backdrop-filter: saturate(63%) blur(9px);
  background: hsla(0, 0%, 100%, 0.5);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mycontainer__list {
  display: flex;
  min-width: 0;
  padding: 20px;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.mycontainer__listItem {
  padding: 10px 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 0 0 25%;
}

.mycontainer__listItem > div {
  position: relative;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: underline;
  text-overflow: ellipsis;
  color: #d21d25;
  padding: 30px 0;
  -webkit-backdrop-filter: saturate(63%) blur(9px);
  backdrop-filter: saturate(63%) blur(9px);
  background: hsla(0, 0%, 100%, 0.5);
}

/* End Single Section Menu */

/* Start Multiple Section Menu */

.mycontainer.has-multi .mycontainer__listItem {
  flex-basis: 100%;
}

.mycontainer.has-multi .mycontainer__list {
  border-radius: 4px;
  flex-basis: 33.333%;
}

.mycontainer.has-multi .mycontainer__list:not(:last-child) {
  margin-right: 20px;
  border-right: solid 1px #f3f3f3;
}

/* End Multiple Section Menu */

/* Start Responsive Menu */

.mobile-menu {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 36px !important;
}
/*
.shorts .swiper-wrapper {
  justify-content: center;
}*/

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 36px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 5px)) !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 20%) !important;
  background: var(--swiper-pagination-bullet-inactive-color, #000) !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  top: 92% !important;
  right: 0;
  justify-content: flex-end !important;
  text-align: left !important;
}

.swiper-pagination-bullet-active{
  background-color: #cc470e !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vslider .swiper-slide {
  width: 36%;
  border-radius: 15px;
  overflow: hidden;
}

.read .featuredImg img {
  border-radius: 15px;
}
.read .featuredItem {
  padding: 5px;
  border: 1px solid #333;
  border-radius: 15px;
  font-size: 14px;
}
.read .featuredItem h5{
  color: #cc470e;
  padding: 10px 0;
  margin: 0;
}



.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
   /* gutter size offset */
  width: auto;
  
}
.my-masonry-grid_column {
  padding-left: 5px; /* gutter size */
  background-clip: padding-box;
  margin-bottom: 3px;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  
  margin-bottom: 5px;
}

.my-masonry-grid img {
  border-radius: 15px;
}

.my-masonry-grid .featuredContent h5{
  color: #cc470e;
  padding: 10px 0;
  margin: 0;
}

.shorts .swiper-slide {
  width: 216px;
  border-radius: 15px;
}

.watch .swiper-slide {
  width: 25%;
  border-radius: 15px;
}

.read .swiper-slide {
  width: 20%;
  border-radius: 15px;
}

.listen .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.listen .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
}

.listen .swiper-slide img {
  display: block;
  width: 100%;
}

.section-title {
  color: #004071;
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: '';
  position: absolute;
  border: 2px solid #d21d25;
  top: 100%;
  left: 9px;
  width: 90%;
}

.ratio-9x16{
  position:relative;
  width:100%;
  height:0;
  padding-top:177%;
  overflow:hidden;
}
.ratio-9x16 img,
.ratio-9x16 iframe{
  position:absolute;
  top:0;
  width:100%;
  height:100%;
}

.shortsItem{
  border-radius: 15px;
  overflow: hidden;
  transition: 1s all;
}

.shortsItem:hover img{
  transform: scale(1.1);
  transition: 1s all;
}

footer {
  
  padding: 54px 0;
  margin-top: 63px;
  background-color: #f9f6ef;
}

.copyright,
.signature {
  color: rgb(164, 165, 173);
}

.copyright a,
.signature a {
  color: rgb(164, 165, 173);
}

.bg-dark-0 {
  background-color: #153147;
}
.bg-dark-1 {
  background-color: #004071;
}

ul.nav.nav-tabs.custom-tab {
    justify-content: center;
    border-bottom: none;
}

.nav-tabs .nav-item .nav-link, .nav-tabs .nav-link{
  color: #004071;
}
.nav-tabs .nav-item .nav-link:hover, .nav-tabs .nav-link:hover{
  border: 1px solid #004071;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border: 1px solid #cc470e;
  border-radius: 5px;
  color: #cc470e;
}

@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
    margin: 20px;
    text-align: right;
  }
  .mobile-menu > i {
    cursor: pointer;
    font-size: 21px;
  }
  .mynavbar {
    display: none;
    position: absolute;
    transition: top 0.3s ease-in;
    left: 0;
    border-radius: 0;
    will-change: top;
  }
  .mynavbar--is-visible {
    top: 88px;
  }
  .mynavbar .menu {
    flex-direction: column;
    padding: 0;
  }
  .mynavbar .menu li {
    position: relative;
    flex-direction: column;
    transition: initial;
  }
  .mynavbar .menu li:hover {
    background-color: initial;
  }
  .mynavbar .menu li.is-selected {
    position: relative;
    background-color: #8f3985;
  }
  .mycontainer {
    position: static;
    display: flex;
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
    transition: all 0.3s ease;
  }

  .mynavbar a.hasDropdown:after {
    display: none;
  }
  .mycontainer--is-visible {
    max-height: 1000px !important;
  }
  .mycontainer__list .mycontainer__listItem:nth-child(n + 11) {
    display: none;
  }
  .mycontainer.has-multi .mycontainer__list-multi:not(:first-child) {
    display: none;
  }
  .menu .mycontainer.has-multi .mycontainer__list {
    margin-right: 0;
    border-right: 0;
  }
  .mynavbar .menu li .mycontainer__listItem {
    flex-basis: 100%;
  }
  .swiper-wrapper {
    justify-content: flex-start;
  }

  .vslider .swiper-slide {
    width: 90%;
  }
  .watch .swiper-slide {
    width: 90%;
  }
}
